body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* MOVING TOP BAR */
.top-bar {
  background: orange;
  color: darkblue;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  animation: move 25s linear infinite;
}

/* SLOW MOVEMENT */
@keyframes move {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* NAVBAR */
header {
  background: #0d1b2a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

header h2 {
  color: orange;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  background: linear-gradient(to right, green, darkgreen);
  color: white;
  padding: 80px 40px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* move everything to the left */
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}


/* LOGO */
.hero-logo img {
  height: 200px; /* BIG logo */
  object-fit: contain;
}

/* TEXT */
.hero-text {
  max-width: 500px;
  text-align: left;
}
.hero-text h1 {
  font-size: 40px;
}

.hero-text p {
  font-size: 18px;
}

.hero-text h1 {
  font-size: 36px;
}

.hero-text p {
  font-size: 18px;
}

/* LOGO */
.logo-section {
  text-align: center;
  background: #1b4332;
  padding: 40px;
}

.logo-section img {
  height: 120px;
}

/* SECTIONS */
.section {
  padding: 60px 40px;
  text-align: center;
}

.grey {
  background: #f5f5f5;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* GALLERY */
.gallery img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

/* FORM */
form input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

button {
  background: orange;
  color: white;
  border: none;
  padding: 10px;
}

/* FOOTER */
footer {
  background: #0d1b2a;
  color: white;
  text-align: center;
  padding: 20px;
}

.socials img {
  width: 35px;
  margin: 8px;
  transition: transform 0.3s;
}

.socials img:hover {
  transform: scale(1.2);
}